<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HealthApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>832FC1B91C69894100D26EE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832FC1CD1C69894200D26EE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832FC1D81C69894200D26EE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
